.placeholder {
  @apply relative overflow-hidden;

  border-radius: 32px;
  transform: translateZ(0px);
}

.placeholder::before,
.placeholder::after {
  @apply absolute;

  content: '';
  inset: 0px;
}

.placeholder::before {
  @apply bg-white z-10
  dark:bg-main-900;
}

.placeholder::after {
  @apply bg-main-200 z-20
  dark:bg-main-800;

  animation: 1800ms ease-in-out 0s infinite normal none running placeholder;
}

@keyframes placeholder {
  0%,
  100% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }
}
