.rename-item {
  @apply w-full;
}

.rename-item form {
  @apply relative;
}

.rename-item .btn--close {
  @apply absolute w-5 h-5 p-0.5 text-main-700 opacity-0 pointer-events-none
  dark:text-main-200;

  top: 50%;
  transform: translateY(-50%);
}

.rename-item.is-editing form {
  @apply rounded-md ring-2 ring-accent-500
  dark:ring-accent-600;
}

.rename-item.is-editing .input__input {
  @apply pr-5;
}

.rename-item.is-editing .btn--close {
  @apply opacity-100 pointer-events-auto;
}
