:root {
  --header-height: 60px;
  --scrollbar-size: 10px;
}

@media (max-width: calc(theme('screens.md') - 1px)) {
  :root {
    --sidebar-width: 0px;
    --tapbar-height: 60px;
  }
}

@media (min-width: theme('screens.md')) {
  :root {
    --sidebar-width: 250px;
    --tapbar-height: 0px;
  }
}
