@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply h-full text-black bg-main-100
    dark:text-main-100 dark:bg-main-900;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input {
  background-color: inherit;
}
